*
!.gitignore
!Explanations.docx

!Solutions
Solutions/*
!Solutions/question01.cpp

!Solution02
Solutions02/*
!Solution02/question02.cpp

!Solution03
Solutions03/*
!Solution03/question03.cpp

!Solution04
Solutions04/*
!Solution04/question04.cpp

!Solution05
Solutions05/*
!Solution05/question05.cpp